
*,html,body{
	margin:0;
	padding:0;
	max-width: 100%;
}

.menu{
	font-family: "Bad Script", Verdana, Roboto, Arial, Times;
	font-size: 22pt;
	word-spacing:175px;
	text-align: center;
	line-height:50px;
	border-bottom: 2px solid #1d721f;
	list-style: none;
	position:sticky;
	top:0;
}

li{
	display:inline-block;
	margin-top:7px;
}

.menu a{
	color:#336699;
	transition: all 0.5s;
}

.menu a:hover{
	font-size:25pt;
	text-decoration:none;
	color:#ff5757;
}

.title{	
	font-family: "Comic Sans MS", Courier, Times, "Times New Roman";
	font-size: 50pt;
	text-align: center;
	margin:30px;
	color:#fdb93b;
}

.title a{
	color:#fdb93b;
}

.title a:hover{
	text-decoration:none;
	color:#fdb52f;
}

.about_me{
	border-width:10px;
	border-style:groove;
	border-color:orange;
	margin-left:75px;
	margin-right:75px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:200px;
	font-size:21pt;
	font-family:Times;
	text-align:center;
	color:#ffffff;
}

.row{
	display:flex;
}

.github_img img{
	width:250px;
	height:250px;
	margin-left:250px;
	margin-right:350px;
}

.github_img img:hover{
	transform: scale(1.15,1.15)
}

.linkedin_img img{
	width:235px;
	height:235px;
	margin-top:8px;
}
	
.linkedin_img img:hover{
	transform: scale(1.15,1.15)
}

.email{
	font-family: Verdana, Courier, Times, "Times New Roman";
	font-size: 30pt;
	text-align: center;
	margin:30px;
	color:#21849e;
}